$color-primary: #1eb5da;
$color-secondary: #ffed00;

$color-text-primary: #242427;
$color-text-regular: #313131;
$color-text-secondary: #909399;

$breakpoint-xs: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1920px;